<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <!-- css -->
    <link rel="stylesheet" href="style.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fuggles&family=Philosopher&family=Rye&display=swap" rel="stylesheet">

</head>

<body>
<div id="page">

    <div id="header">
        <h1>Don't pick the very last match!</h1>
        <img src = /img/matches.jpg alt = "matches" >
    </div>

    <div>
        <p class="num_text" data-th-text="${username}"></p>
        <p class="num_text" data-th-text="${password}"></p>
        <a class="button" data-th-href="@{/game}">
            Let's play!
        </a>
    </div>

   <!-- <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>-->

</div>

</body>
</html>